.inicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative; /* Para permitir que el botón se posicione respecto al contenedor */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1b79f5b0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b39e00;
}

/* Clase específica para el botón de cambiar a inglés */
.english-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1b79f5b0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.english-button:hover {
  background-color: #b39e00;
}
