<p>-----------------------------------------------------------------------</p>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reporte Diario</h5>
        <p class="card-text">Reporte de Ordenes de Compra, Clientes frecuentes y Compras frecuentes del dia XX/XX/XXXX</p>
        <a href="#" class="btn btn-outline-success">Ir a Reporte</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reporte Semanal</h5>
        <p class="card-text">Reporte de Ordenes de Compra, Clientes frecuentes y Compras frecuentes de la semana XX/XX/XXXX</p>
        <a href="#" class="btn btn-outline-success">Ir a Reporte</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reporte Bisemanal</h5>
          <p class="card-text">Reporte de Ordenes de Compra, Clientes frecuentes y Compras frecuentes de las semanas de XX/XX/XXXX y XX/XX/XXXX</p>
          <a href="#" class="btn btn-outline-success">Ir a Reporte</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reporte Mensual</h5>
          <p class="card-text">Reporte de Ordenes de Compra, Clientes frecuentes y Compras frecuentes del mes XX/XXXX</p>
          <a href="#" class="btn btn-outline-success">Ir a Reporte</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reporte del Trimestre</h5>
          <p class="card-text">Reporte de Ordenes de Compra, Clientes frecuentes y Compras frecuentes de los meses XX/XXXX, XX/XXXX y XX/XXXX</p>
          <a href="#" class="btn btn-outline-success">Ir a Reporte</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reporte Semestral</h5>
          <p class="card-text">Reporte de Ordenes de Compra, Clientes frecuentes y Compras frecuentes del semestre X del XXXX</p>
          <a href="#" class="btn btn-outline-success">Ir a Reporte</a>
        </div>
      </div>
    </div>
  </div>