<div class="page">
  <div class="carro" [formGroup]="form">
    @for (producto of productos.value; track $index) {
    <mat-card class="responsive-card">
      <mat-card-content>
        <div class="contenido-card">
          <!-- Columna 1: Imagen -->
          <div class="columna imagen">
            <img mat-card-image [src]="producto.imagen">
          </div>
          <!-- Columna 2: Título -->
          <div class="columna titulo">
            <span>{{producto.nombre}}</span><br>
            <span>${{producto.precio}}</span>
          </div>
          <!-- Columna 3: Botones -->
          <div class="columna botones">
            <button mat-icon-button class="btn-eliminar">
              <mat-icon>delete</mat-icon>
            </button>
            <div class="btn-editar">
              <button mat-icon-button>
                <mat-icon>remove</mat-icon>
              </button>
              <mat-form-field appearance="outline" class="input-cantidad">
                <input 
                  matInput
                  type="number"
                  placeholder="Cantidad"
                  [formControlName]="$index"
                  [value]="producto.cantidad"
                >
              </mat-form-field>
              <button mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    }
  </div>

  <div class="detalle">
    Aquí hay detalle
  </div>
</div>
