/* Contenedor de la página */
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

/* Sección del carro */
.carro {
  flex: 0 0 40%;
}

/* Detalles */
.detalle {
  flex: 0 0 60%;
  background-color: #f4f4f4;
  padding: 1rem;
}

/* Tarjeta responsiva */
.responsive-card {
  margin-bottom: 1rem;
}

/* Contenedor del contenido de la tarjeta */
.contenido-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* Imagen */
.columna.imagen img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

/* Título */
.columna.titulo {
  flex-grow: 1;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

/* Botones */
.columna.botones {
  display: flex;
  flex-direction: column; /* Organiza los botones en columna */
  justify-content: space-between; /* Distribuye los botones */
  align-items: center;
  height: 100%; /* Hace que ocupen toda la columna */
  gap: 1.5rem;
}

/* Botón Eliminar */
.columna.botones .btn-eliminar {
  align-self: flex-start; /* Alinea el botón de Eliminar en la parte superior */
}

/* Botones Editar */
.columna.botones .btn-editar {
  display: flex;
  flex-direction: row; /* Organiza los botones en fila */
  justify-content: space-between; /* Espaciado uniforme entre los botones */
  align-items: center; /* Centra verticalmente */
  margin-top: auto; /* Lleva este grupo de botones hacia abajo */
  gap: 0.5rem;
}

.btn-editar mat-form-field {
  flex-grow: 1; /* Hace que el input ocupe el espacio restante */
  max-width: 80px; /* Limita el tamaño del input */
}
