.eje-inicio-container {
  position: relative;
  padding-top: 60px; /* Añadimos espacio para evitar que el botón se superponga con las tarjetas */
}

.top-right-button {
  position: absolute;
  top: 5px; /* Ajuste consistente con otros componentes */
  right: 20px;
}

.top-right-button button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1b79f5b0; /* Color de fondo similar al componente inicio */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-right-button button:hover {
  background-color: #b39e00; /* Cambia de color al hacer hover */
}

.card {
  margin-bottom: 20px; /* Añadir espacio entre las tarjetas */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir un poco de sombra para dar más énfasis */
}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card .btn-primary {
  background-color: #1b79f5b0; /* Mismo color de los botones */
  border: none;
}

.card .btn-primary:hover {
  background-color: #b39e00; /* Comportamiento hover */
}
