<div class="eje-inicio-container">
    <div class="top-right-button">
      <button (click)="toggleLanguage()" class="btn btn-primary ">Cambiar a Inglés</button>
    </div>
  
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img src="https://png.pngtree.com/png-clipart/20230922/original/pngtree-user-group-icon-vector-image-background-diversity-business-vector-png-image_12658655.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Personal</h5>
            <p class="card-text">Vista de datos del personal y sus órdenes asociadas</p>
            <a href="/ejecutivo/personal" class="btn btn-primary">Ir a</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img src="https://static.vecteezy.com/system/resources/previews/010/752/258/non_2x/payment-icon-design-free-vector.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Pagos</h5>
            <p class="card-text">Pagos realizados al 100%</p>
            <a href="/pago" class="btn btn-primary">Ir a</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img src="https://cdn-icons-png.freepik.com/512/9402/9402058.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Órdenes de Compra</h5>
            <p class="card-text">Resumen de órdenes de compra filtrados por antigüedad</p>
            <a href="/mostrarorden" class="btn btn-primary">Ir a</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img src="https://static.vecteezy.com/system/resources/previews/015/376/998/non_2x/sign-money-contract-icon-outline-style-vector.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Subcontratos Activos</h5>
            <p class="card-text">Subcontratos activos con empresas externas para apoyo en los pedidos</p>
            <a href="/subcontratos" class="btn btn-primary">Ir a</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  