<p>personal works!</p>


<div class="container">
    <h2>PERSONAL</h2>
    <div class="header">
      <input type="text" placeholder="Buscar...">
      <button>Filtros</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Labor</th>
          <th>IMAGEN</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pedro Sanchez</td>
          <td><span class="label seguridad">Seguridad</span></td>
          <td>
            <img
              src="https://media.discordapp.net/attachments/1220487360006062190/1253559616303005848/Sin_titulo.jpg?ex=66764bde&is=6674fa5e&hm=42ef9ce7abb4d5dafd5d02c6b7c9cd10d9ba0fe2e9d1ddca52b42775a2eb94ca&=&format=webp&width=247&height=247"
              height="40"
              alt="Pedro Sanchez Image"
            />
          </td>
          <td class="actions">...</td>
        </tr>
        <tr>
          <td>terry mcginnis</td>
          <td><span class="label artista-digital">Artista Digital</span></td>
          <td>
            <img
              src="https://media.discordapp.net/attachments/1220487360006062190/1253558027253190656/Sin_titulo.jpg?ex=66764a63&is=6674f8e3&hm=4e29a06fd28de3ae109ebdbe478e904b68d3381f25bee9e28fabfd9571ca8986&=&format=webp&width=247&height=247"
              height="40"
              alt="terry mcginnis Image"
            />
          </td>
          <td class="actions">...</td>
        </tr>
        <tr>
          <td>Carmen Elizabeth Juanita de Costabrava Cortez</td>
          <td><span class="label developer">DEVELOPER</span></td>
          <td>
            <img
              src="https://media.discordapp.net/attachments/1220487360006062190/1253560058135052330/Sin_titulo.jpg?ex=66764c47&is=6674fac7&hm=4ce5e4cdb2304414d7abd52487b337e4241a0e2fa09d56045b09c29ef2c446d2&=&format=webp&width=257&height=236"
              height="40"
              alt="Carmen Elizabeth Image"
            />
          </td>
          <td class="actions">...</td>
        </tr>
        <tr>
          <td>Dante Alighieri</td>
          <td><span class="label periodista">Periodista</span></td>
          <td>
            <img
              src="https://media.discordapp.net/attachments/1220487360006062190/1253557953139572828/Sin_titulo.jpg?ex=66764a52&is=6674f8d2&hm=31f6989915a7c299e50d79a703fcc97bead4b98ad5cd2ee6f5ab0565a24319f2&=&format=webp&width=292&height=209"
              height="40"
              alt="Dante Alighieri Image"
            />
          </td>
          <td class="actions">...</td>
        </tr>
        <tr>
          <td>Virgilo Sparda</td>
          <td><span class="label developer">DEVELOPER</span></td>
          <td>
            <img
              src="https://media.discordapp.net/attachments/1220487360006062190/1253559957014450248/images.jpg?ex=66764c2f&is=6674faaf&hm=906a84525dddfd45d8544df4344182897b213cbbb1d3636117ae57032780a2b8&=&format=webp&width=298&height=204"
              height="40"
              alt="Virgilo Sparda Image"
            />
          </td>
          <td class="actions">...</td>
        </tr>
      </tbody>
    </table>
  </div>