/* layout.component.css */
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .content {
    padding: 20px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  