.header-with-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 8px; /* Espacio entre los botones */
}

.mat-card-title {
  margin-right: auto; /* Asegura que el título se mantenga alineado a la izquierda */
}

/* Estilos adicionales para la tabla y celdas */
.mat-cell, .mat-header-cell {
  color: black !important; /* Fuerza el color negro */
  font-weight: 500;
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.04); /* Color de fondo cuando pasas el mouse */
}

.mat-table {
  background-color: white; /* Asegúrate de que el fondo de la tabla sea claro */
}
