.subcontratos-container {
  position: relative;
  padding-top: 60px; /* Espacio para el botón de idioma */
}

/* Botón de cambio de idioma */
.language-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #00bfff; /* Celeste */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.language-switch:hover {
  background-color: #b39e00; /* Dorado */
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #1b79f5b0; /* Azul */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b39e00; /* Dorado */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
}

li {
  margin: 5px 0;
}
