<div class="subcontratos-container">
  <h1>Lista de Subcontratos</h1>
  <table>
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Contacto</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Fecha Inicio</th>
        <th>Fecha Finalización</th>
        <th>Precio Total (Con IVA)</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subcontrato of subcontratos">
        <td>{{ subcontrato.empresa }}</td>
        <td>{{ subcontrato.contacto }}</td>
        <td>{{ subcontrato.telefono }}</td>
        <td>{{ subcontrato.email }}</td>
        <td>{{ subcontrato.fechaInicio | date: 'shortDate' }}</td>
        <td>{{ subcontrato.fechaFinalizacion | date: 'shortDate' }}</td>
        <td>{{ subcontrato.precioTotalConIVA | currency }}</td>
        <td>
          <button (click)="subcontrato.mostrarDetalles = !subcontrato.mostrarDetalles">
            {{ subcontrato.mostrarDetalles ? 'Ocultar' : 'Ver' }} Detalles
          </button>
          <ul *ngIf="subcontrato.mostrarDetalles">
            <li *ngFor="let detalle of subcontrato.detalles">
              {{ detalle.descripcion }} - {{ detalle.precio | currency }} ({{ detalle.estado }})
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
