<button class="btn btn-outline-secondary mb-3" (click)="switchToEnglish()">Switch to English</button>

<div class="orden-compra">
  <h1>Orden de compra N° X</h1>
  
  <div class="seccion">
    <p><strong>Nombre cliente:</strong> [Nombre del Cliente]</p>
    <p><strong>Datos de factura:</strong> [Datos de Factura]</p>
    <p><strong>Fecha de orden:</strong> [Fecha]</p>
  </div>

  <h3>Productos:</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Precio</th>
        <th>Descuento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>Producto 1</td>
        <td>1</td>
        <td>$10</td>
        <td>$10</td>
        <td>$0</td>
      </tr>
      <tr>
        <td>002</td>
        <td>Producto 2</td>
        <td>2</td>
        <td>$15</td>
        <td>$30</td>
        <td>$5</td>
      </tr>
      <tr>
        <td>003</td>
        <td>Producto 3</td>
        <td>3</td>
        <td>$20</td>
        <td>$60</td>
        <td>$10</td>
      </tr>
    </tbody>
  </table>

  <div class="resumen">
    <p><strong>IVA:</strong> $X</p>
    <p class="precio-final"><strong>Precio final:</strong> $X</p>
  </div>

  <div class="seccion">
    <p><strong>Lugar de entrega:</strong> [Lugar]</p>
    <p><strong>Fecha de entrega:</strong> [Fecha]</p>
  </div>

</div>
