<div class="card" style="width: 18rem;">
    <img src="https://png.pngtree.com/png-clipart/20230922/original/pngtree-user-group-icon-vector-image-background-diversity-business-vector-png-image_12658655.png" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Personal</h5>
        <p class="card-text">Vista de datos del personal y sus Ordenes asociadas</p>
        <a href="/ejecutivopersonal" class="btn btn-primary">Ir a</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="https://static.vecteezy.com/system/resources/previews/010/752/258/non_2x/payment-icon-design-free-vector.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Pagos</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Ir a</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="https://cdn-icons-png.freepik.com/512/9402/9402058.png" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Ordenes de Compra</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/mostrarorden" class="btn btn-primary">Ir a</a>
    </div>
</div>