<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>{{ turnoId ? 'Editar Turno' : 'Nuevo Turno' }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="turnoForm" (ngSubmit)="onSubmit()">
      <!-- Nombre del Empleado -->
      <mat-form-field class="full-width">
        <mat-label>Nombre del Empleado</mat-label>
        <input matInput formControlName="nombre_empleado" placeholder="Ingrese el nombre del empleado">
        <mat-error *ngIf="turnoForm.get('nombre_empleado')?.hasError('required')">
          El nombre es requerido.
        </mat-error>
      </mat-form-field>

      <!-- Selección del Turno -->
      <mat-form-field class="full-width">
        <mat-label>Turno</mat-label>
        <mat-select formControlName="turno">
          <mat-option value="Mañana">Mañana</mat-option>
          <mat-option value="Tarde">Tarde</mat-option>
          <mat-option value="Noche">Noche</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Fecha -->
      <mat-form-field class="full-width">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Horas Trabajadas -->
      <mat-form-field class="full-width">
        <mat-label>Horas Trabajadas</mat-label>
        <input matInput type="number" formControlName="horas_trabajadas">
        <mat-error *ngIf="turnoForm.get('horas_trabajadas')?.hasError('min') || turnoForm.get('horas_trabajadas')?.hasError('max')">
          Las horas deben estar entre 1 y 12.
        </mat-error>
      </mat-form-field>

      <!-- Botones de Acción -->
      <div class="actions">
        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="turnoForm.invalid">
          {{ turnoId ? 'Actualizar' : 'Guardar' }}
        </button>
        <button mat-button color="warn" class="full-width" type="button" routerLink="/turnos-empleados">
          Cancelar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
