.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Espacio entre las tarjetas */
  }
  
  .card {
    width: 350px; /* Ancho de la tarjeta */
    height: 350px; /* Altura de la tarjeta para que sea cuadrada */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; /* Asegura que la imagen de fondo cubra toda la tarjeta */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    color: white; /* Mejora la legibilidad del texto sobre la imagen de fondo */
  }
  
  .card-content {
    z-index: 1; /* Asegura que el contenido se muestre sobre la imagen de fondo */
    position: relative; /* Asegura que el contenido esté en el flujo del documento */
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 30px; /* Espacio entre los elementos */
    padding: 20px;
  }
  
  .item {
    flex: 1 1 calc(20% - 16px); /* Permite que el elemento crezca y se encoja, ocupando un 20% del ancho */
    max-width: 300px; /* Limita el ancho máximo del elemento */
    min-width: 200px; /* Establece un ancho mínimo para evitar que el elemento se deforme */
    box-sizing: border-box;
  }
  
  /* Ajustes para pantallas más pequeñas */
  @media (max-width: 768px) {
    .item {
      flex: 1 1 calc(33.33% - 16px); /* 3 elementos por fila en pantallas medianas */
    }
  }
  
  @media (max-width: 480px) {
    .item {
      flex: 1 1 calc(50% - 16px); /* 2 elementos por fila en pantallas pequeñas */
    }
  }
  
  @media (max-width: 320px) {
    .item {
      flex: 1 1 calc(100% - 16px); /* 1 elemento por fila en pantallas muy pequeñas */
    }
  }

  .types{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Esto centra el texto en el mat-card */
  height: 100%; 
  }
  .green-box {
    width: 100vw; /* Ocupa todo el ancho de la ventana del navegador */
    height: auto; /* Ajusta la altura automáticamente según el contenido */
    background-color: rgb(86, 136, 44); /* Color de fondo verde */
    margin: 0; /* Elimina cualquier margen por defecto */
    padding: 0; /* Elimina cualquier padding por defecto */
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
  }
  
  .search {
    width: 90vw; /* Limita el ancho máximo de la barra de búsqueda */
    margin: 10px auto; /* Centra la barra de búsqueda */
  }
  
  .titulo {
    text-align: left;
    margin-left: 5vw;
    font-size: 3.375rem; /* 54px en unidades rem */
    font-family: sans-serif;
  }
  
  .titulo-azul {
    color: rgb(135, 206, 250); /* Color azul para "FooD" */
  }
  
  .titulo-amarillo {
    color: rgb(255, 255, 224); /* Color amarillo para "Co" */
  }
  
  .subtitulo {
    text-align: left;
    margin-left: 5vw;
    font-size: 1.5rem; /* 24px en unidades rem */
    font-family: sans-serif;
    font-style: oblique;
    color: rgb(255, 255, 224); /* Color amarillo pálido */
    margin-top: 10px;
  }
  
  /* Media queries para pantallas pequeñas */
  @media (max-width: 768px) {
    .titulo {
      font-size: 2.5rem; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }
    .subtitulo {
      font-size: 1.25rem; /* Ajusta el tamaño de fuente en pantallas más pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .titulo {
      font-size: 2rem; /* Reduce aún más el tamaño de fuente en pantallas muy pequeñas */
      margin-left: 2vw; /* Reduce el margen izquierdo */
    }
    .subtitulo {
      font-size: 1rem; /* Ajusta el tamaño de fuente en pantallas muy pequeñas */
      margin-left: 2vw; /* Reduce el margen izquierdo */
    }
  }
  .body {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; /* Tres columnas, la del medio es más ancha */
    gap: 10px; /* Espacio entre las columnas */
}

.left-column, .right-column {
    background-color: #f0f0f0; /* Color de fondo para las columnas vacías */
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}
