<div class="orden-compra">
  <div class="top-right-button">
    <button class="btn btn-outline-primary" (click)="switchToSpanish()">Cambiar a Español</button>
  </div>

  <h1>Purchase Order N° X</h1>

  <div class="seccion">
    <p><strong>Customer Name:</strong> {{orden.cliente.username}} {{orden.cliente.contacto.apellido}}</p>
    <p><strong>Customer DNI:</strong> [Customer DNI]</p>
    <p><strong>In Charge Name:</strong> [In Charge Name]</p>
    <p><strong>In Charge DNI:</strong> [In Charge DNI]</p>
    <p><strong>Invoice Details:</strong> Nombre: {{orden.cliente.empresa.nombre_empresa}} | 
      Direccion: {{orden.cliente.empresa.direccion}} |
      Giro: {{orden.cliente.empresa.giro}} | 
      Rut: {{orden.cliente.empresa.rut_empresa}} |
      Fono: {{orden.cliente.empresa.telefono_empresa}} | 
      Correo: {{orden.cliente.empresa.correo_contacto}}</p>
    <p><strong>Order Date:</strong> {{orden.seleccionProductos.fechaCreacion}}</p>
  </div>

  <h3>Products:</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Price</th>
        <th>Discount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>{{orden.seleccionProductos.productos[0].producto.nombre}}</td>
        <td>{{orden.seleccionProductos.productos[0].cantidad}}</td>
        <td>${{orden.seleccionProductos.productos[0].precioUnitario}}</td>
        <td>${{orden.seleccionProductos.productos[0].precioTotal}}</td>
        <td>${{orden.seleccionProductos.productos[0].descuento}}</td>
      </tr>
      <tr>
        <td>002</td>
        <td>Product 2</td>
        <td>2</td>
        <td>$15</td>
        <td>$30</td>
        <td>$5</td>
      </tr>
      <tr>
        <td>003</td>
        <td>Product 3</td>
        <td>3</td>
        <td>$20</td>
        <td>$60</td>
        <td>$10</td>
      </tr>
    </tbody>
  </table>

  <div class="resumen">
    <p><strong>Tax (VAT):</strong> ${{orden.iva}}</p>
    <p class="precio-final"><strong>Total Price:</strong> ${{orden.precioFinalConIva}}</p>
  </div>

  <div class="seccion">
    <p><strong>Delivery Location:</strong> {{orden.seleccionProductos.direccion}}</p>
    <p><strong>Delivery Date:</strong> {{orden.seleccionProductos.fechaRequerida}}</p>
  </div>
</div>
