<div class="recipe-container">
    <div class="image-container" [ngStyle]="{'background-image': 'url('+ data.producto.imagenes[0] + ')'}">
       
    </div>

    <div class="title">
            {{data.producto.nombre}}

    </div>

    <div class="content">
        <div class="ingredients">
            <h3>{{'PRODUCT_DETAIL.INGREDIENTS'| translate }}:</h3>

            <ul>
                @for(objct of data.producto.ingredientes; track $index){
                <li> {{objct.ingrediente.nombre}} </li>

                }
            </ul>
        </div>

        <div class="preparation">
            <h3>{{'PRODUCT_DETAIL.DESCRIPTION'| translate }}</h3>
            <p> {{data.producto.descripcion}} </p>
        </div>
    </div>
</div>