<div class="footer">
    <div class="izquierda">
        <h1>Buena Comida y buena Vida</h1>
        <div class="icons">
            <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Ve nuestro FaceBook"></mat-icon>
            <mat-icon svgIcon="X" aria-hidden="false" aria-label="Ve nuestro X"></mat-icon>
            <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Ve nuestro Instagram"></mat-icon>
        </div>
    </div>
    <div class="derecha">
        <h1>Consultanos</h1>
        <form class="correo">
            <div class="email">
                <mat-icon svgIcon="email" aria-hidden="false" aria-label="Danos tu correo"></mat-icon>
                <input type="email" placeholder="Correo Electronico">
                <button type="submit">
                    <mat-icon svgIcon="flecha" aria-hidden="false" class="icono"></mat-icon>
                </button>
            </div>
        </form>
        <nav>
            <a routerLink="">Inicio</a>
            <a href="/">Nostoros</a>
            <a href="/">Menus</a>
            <a href="/">Contacto</a>
        </nav>
    </div>
</div>