<div class="footer">
    <div class="izquierda">
      <h1>{{ 'FOOTER.LEFT.TITLE' | translate }}</h1>
      <div class="icons">
        <mat-icon svgIcon="facebook" aria-hidden="false" attr.aria-label="{{ 'FOOTER.LEFT.ICONS.FACEBOOK' | translate }}"></mat-icon>
        <mat-icon svgIcon="X" aria-hidden="false" attr.aria-label="{{ 'FOOTER.LEFT.ICONS.X' | translate }}"></mat-icon>
        <mat-icon svgIcon="instagram" aria-hidden="false" attr.aria-label="{{ 'FOOTER.LEFT.ICONS.INSTAGRAM' | translate }}"></mat-icon>
      </div>
    </div>
    <div class="derecha">
      <h1>{{ 'FOOTER.RIGHT.TITLE' | translate }}</h1>
      <form class="correo">
        <div class="email">
          <mat-icon svgIcon="email" aria-hidden="false" attr.aria-label="{{ 'FOOTER.RIGHT.FORM.PLACEHOLDER_EMAIL' | translate }}"></mat-icon>
          <input type="email" placeholder="{{ 'FOOTER.RIGHT.FORM.PLACEHOLDER_EMAIL' | translate }}">
          <button type="submit">
            <mat-icon svgIcon="flecha" aria-hidden="false" class="icono"></mat-icon>
          </button>
        </div>
      </form>
      <nav>
        <a routerLink="">{{ 'FOOTER.RIGHT.NAVIGATION.HOME' | translate }}</a>
        <a href="/">{{ 'FOOTER.RIGHT.NAVIGATION.ABOUT_US' | translate }}</a>
        <a href="/">{{ 'FOOTER.RIGHT.NAVIGATION.MENUS' | translate }}</a>
        <a href="/">{{ 'FOOTER.RIGHT.NAVIGATION.CONTACT' | translate }}</a>
      </nav>
    </div>
  </div>
  