.inventory-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #3f51b5; /* Color principal */
}

.inventory-table {
  width: 100%;
  margin-top: 20px;
}

th.mat-header-cell {
  text-align: left;
  font-weight: bold;
  color: #3f51b5;
}

td.mat-cell {
  padding: 10px;
}

.low-stock {
  color: red;
  font-weight: bold;
}

.in-stock {
  color: green;
  font-weight: bold;
}

.mat-card-content {
  display: flex;
  justify-content: center;
}

.mat-elevation-z1 {
  background-color: #f5f5f5;
}

.inventory-table th {
  background-color: #e0e0e0;
}
