<div class="form-container">
    <h2>Cambio de Contraseña</h2>
    <form action="/cambiar_contrasena" method="POST">
        <label for="nueva_contrasena">Nueva Contraseña:</label>
        <input type="password" id="nueva_contrasena" name="nueva_contrasena" required placeholder="Introduce tu nueva contraseña">

        <label for="confirmar_contrasena">Confirma Nueva Contraseña:</label>
        <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required placeholder="Confirma tu nueva contraseña">

        <input type="submit" value="Cambiar Contraseña">
    </form>
</div>
