/* produccion-diaria-form.component.css */
.form-group-with-button {
  display: flex;
  align-items: flex-end;
  gap: 8px; /* Espacio entre el campo y el botón */
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
