.subcontratos-container {
    position: relative;
    padding-top: 60px; /* Añadir espacio suficiente para que el botón no se superponga con el contenido */
  }
  
  .top-right-button {
    position: absolute;
    top: 20px;
    right: 20px;
  
    button {
      padding: 10px 20px;
      font-size: 1rem;
      background-color: #1b79f5b0; /* Color igual que los otros componentes */
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #b39e00; /* Cambia de color al hacer hover */
    }
  }
  
  .subcontratos-activos {
    margin: 20px;
  }
  
  .seccion {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: #f2f2f2;
    }
  }
  
  .resumen {
    margin-top: 20px;
  }
  
  a.btn-primary {
    background-color: #1b79f5b0; /* Color del botón */
    border: none;
  }
  
  a.btn-primary:hover {
    background-color: #b39e00; /* Color hover del botón */
  }
  