<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <!-- primer tabla -->
    <mat-tab label="Datos de empresa">

        <mat-form-field>
            <mat-label>Rut empresa</mat-label>
            <input matInput formControlName="rut_empresa" placeholder="12345678-9">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Giro</mat-label>
            <input matInput formControlName="giro" placeholder="FABRICACIÓN DE OTRAS SUSTANCIAS QUÍMICAS BÁSICAS N.C.P." required>
        </mat-form-field>
    </mat-tab>
    <!-- Segunda tabla -->
    <mat-tab label="Datos personales">

    </mat-tab>
</mat-tab-group>