<mat-card class="product" appearance="outlined">  
  <mat-card-header>
      <mat-card-title> {{cardProduct.nombre}} </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="'http://' + cardProduct.imagenes[0]">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <div class="buttons">
        @if(!showInput){
          <button mat-button (click)= "onSelect()" >Seleccionar</button>
          <button mat-button (click)="abrirModal()">Detalle</button>
        }        
        @else{
          <div class="input-group">

            <mat-form-field class="cantidad">
              <mat-label>Cantidad</mat-label>
              <input matInput #cantidadProducto maxlength="6" placeholder="Ex. 10000" type="number">
            </mat-form-field>
            <div class="button-group">
              <button mat-mini-fab (click)="onClick(cantidadProducto.valueAsNumber)"><mat-icon>check</mat-icon></button>
              <button mat-mini-fab (click)="closeSelect()"><mat-icon>close</mat-icon></button>
            </div>
          </div>
        }
        
      </div>
    </mat-card-actions>
  </mat-card>
  