<mat-card class="product" appearance="outlined">  
  <mat-card-header>
      <mat-card-title> {{cardProduct.nombre}} </mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="'http://' + cardProduct.imagenes[0]">
    <mat-card-content>
      <p>
        {{cardProduct.descripcion}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="buttons">
        <button mat-button (click)= "onSelect()" >Seleccionar</button>
        @if(showInput){
          <mat-form-field class="example-full-width">
            <mat-label>Cantidad</mat-label>
            <input matInput #cantidadProducto maxlength="6" placeholder="Ex. 10000" value="">
          </mat-form-field>
          <button mat-mini-fab><mat-icon>check</mat-icon></button>
        }
        <button mat-button>Detalle</button>
      </div>
    </mat-card-actions>
  </mat-card>
  