.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .product img {
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 100%; /* Asegura que ocupe el 100% del ancho del contenedor */
    height: 45%;
  }
  
  .product .description {
    flex-grow: 1;
  }
  
  .product .actions {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos dentro de "buttons" */
  }
  
  .input-group {
    display: flex;
    flex-direction: column; /* Coloca el input de cantidad y los botones en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
}
  
  .cantidad {
    width: 100%; /* El input de cantidad será responsivo */
    margin-bottom: 10px; /* Espacio inferior para separar el input de los botones */
  }
  
  .button-group {
    display: flex;
    justify-content: center; /* Centra los botones debajo del input */
    gap: 5px; /* Espacio entre los botones */
  }
  
  .mat-card {
    flex-grow: 1;
    width: 100%;
    height: 100%; /* Evita que los botones modifiquen el tamaño del card */
  }
  
  .mat-card-actions {
    flex-grow: 0;
    flex-shrink: 0; /* Asegura que las acciones no afecten el tamaño del card */
  }