.language-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #00bfff; // Color celeste
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.language-switch:hover {
  background-color: #b8860b; // Color dorado al pasar el cursor
}

.eje-personal-container {
max-width: 800px;
margin: 0 auto;
position: relative; /* Para permitir la posición relativa del botón */
padding-top: 80px; /* Espacio suficiente para evitar superposición con el botón */
}

.header {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.header input[type="text"] {
flex: 1;
margin-right: 10px;
padding: 5px;
}

.header button {
padding: 5px 10px;
}

table {
width: 100%;
border-collapse: collapse;
}

th, td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

th {
background-color: #f2f2f2;
}

.profile-image {
width: 100px;
height: 100px;
object-fit: cover;
}

.message {
margin-top: 15px;
font-weight: bold;
color: green;
}
