<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Productos Seleccionados</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="productos-lista">
        @for(productoCant of listaProductos; track $index){
            <p> {{productoCant.producto.nombre}} -- Cantidad: {{productoCant.cantidad}} </p>
        }
      </div>
    </mat-card-content>


    <mat-card-actions class="acciones">
      <button routerLink="/cliente/orden" routerLinkActive="active"  mat-button>Crear Orden de Compra</button>
    </mat-card-actions>
  </mat-card>