<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <div class="encabezado">
      <mat-card-title>
        <span>{{ 'ORDER.TITLE' | translate }}</span>
      </mat-card-title>
      @if(editMode) {
        <span class="editMode" (click)="editMode = !editMode">{{ 'ORDER.ACCEPT' | translate }}</span>
      }
      @else {
        <span class="editMode" (click)="editMode = !editMode">{{ 'ORDER.EDIT' | translate }}</span>
      }
    </div>
  </mat-card-header>

  <mat-card-content>
    @if(listaProductos.length === 0) {
      <div class="sin-producto">
        <mat-icon style="font-size: 80px; width: 80px; height: 80px;">
          {{ 'ORDER.EMPTY.ICON' | translate }}
        </mat-icon>
        <span>{{ 'ORDER.EMPTY.MESSAGE' | translate }}</span>
      </div>
    }
    @else {
      <div class="con-producto">
        @for (producto of listaProductos; track $index) {
          <mat-card class="producto" appearance="outlined">
            <div class="fila">
              <div class="condicion">
                @if(editMode) {
                  <mat-checkbox [(ngModel)]="producto.seleccionado"></mat-checkbox>
                }
                @else {
                  <span>{{ producto.cantidad }}{{ 'ORDER.PRODUCT.QUANTITY' | translate }}</span>
                }
              </div>
              <p>{{ producto.producto.nombre }}</p>
              <span>${{ producto.cantidad * producto.producto.precio }}</span>
            </div>
          </mat-card>
        }
      </div>
      <div class="botones">
        @if(editMode) {
          <button mat-raised-button color="primary" (click)="eliminarSeleccionados()">
            {{ 'ORDER.BUTTONS.DELETE_SELECTED' | translate }}
          </button>
        }
        @else {
          <button mat-raised-button color="primary" routerLink="/cliente/orden" routerLinkActive="active">
            {{ 'ORDER.BUTTONS.CONTINUE' | translate }}
          </button>
        }
      </div>
    }
  </mat-card-content>
</mat-card>
