<div style="display: flex; justify-content: center; align-items: flex-start; height: 100vh;">
    <div style="max-width: 400px; width: 100%;">

        <!--
                <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
                </button>
                -->

        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>

            <!-- step 1 = REgistro-->

            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Registro</ng-template>

                    <mat-form-field>
                        <mat-label>Nombre Usiario</mat-label>
                        <input matInput placeholder="Ingresa nombre de usuario" formControlName="username" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Ingresa email" formControlName="email" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                        <input matInput placeholder="Ingrese contraseña" formControlName="password" type="password" required>
                    </mat-form-field>
                    <!--
                        <mat-form-field>
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput placeholder="Confirme contraseña" formControlName="firstCtrl" required>
                </mat-form-field>
                -->


                    <div>
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <!-- step 2 = datos de empresa-->
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Datos de empresa</ng-template>

                    <mat-form-field>
                        <mat-label>Rut empresa</mat-label>
                        <input matInput formControlName="rut_empresa" placeholder="12345678-9" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Giro</mat-label>
                        <input matInput formControlName="giro"
                            placeholder="FABRICACIÓN DE OTRAS SUSTANCIAS QUÍMICAS BÁSICAS N.C.P." required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Direccion</mat-label>
                        <input matInput formControlName="direccion" placeholder="Calle Santiago, 1234" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Comuna</mat-label>
                        <input matInput formControlName="comuna" placeholder="Puente Alto" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ciudad</mat-label>
                        <input matInput formControlName="ciudad" placeholder="Santiago" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="correo_contacto" placeholder="ejemplo@ejemplo.cl" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Telefono</mat-label>
                        <input matInput formControlName="telefono_empresa" placeholder="912345678" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nombre de empresa</mat-label>
                        <input matInput formControlName="nombre_empresa" placeholder="EMPRESA FICTICIA LTDA" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Rubro</mat-label>
                        <mat-select formControlName="rubro">
                            @for(rubro of opciones; track $index){
                            <mat-option value="{{rubro._id}}"> {{rubro.clasificacion}} - {{rubro.nombre}} </mat-option>
                            }

                        </mat-select>

                    </mat-form-field>


                    <div>
                        <button mat-button matStepperPrevious>Volver</button>
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <!-- step 3 = datos personales -->
            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Datos personales</ng-template>

                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Ingresa nombre" formControlName="nombre" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder="Ingrese apellido" formControlName="apellido" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Telefono</mat-label>
                        <input matInput placeholder="Confirme telefono" formControlName="telefono" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Confirme email" formControlName="email" required>
                    </mat-form-field>


                    <div>
                        <button mat-button matStepperPrevious>Volver</button>
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <!-- step final-->
            <mat-step>
                <ng-template matStepLabel>Finalización</ng-template>
                <p>El registro está completo</p>
                <div>
                    <button mat-buttom (click)="registrarCliente()">Subir</button>
                    <button mat-button matStepperPrevious>Volver</button>
                    <button mat-button (click)="stepper.reset()">Finalizar</button>
                </div>
            </mat-step>

        </mat-stepper>
    </div>
</div>