@if(dietaSeleccionada === ''){
<div class="search-box">
    <div class="content">

    </div>
    <h1 class="titulo">
        <span class="titulo-azul">FooD</span><span class="titulo-amarillo">Co</span>
    </h1>
    <h2 class="subtitulo">
        Llevamos los mejores productos desde el campo a su empresa.
    </h2>
    <mat-form-field class="search">
        <mat-label>Buscar Producto</mat-label>
        <input matInput>
    </mat-form-field>
</div>

<span class="border"></span>

<div class="card-container">
    @for (dieta of dietas; track dieta.nombre){
    <mat-card class="card" appearance="outlined" [ngStyle]="{'background-image': 'url(' + dieta.imagen + ')'}"
        (click)="seleccionarDieta(dieta.nombre)">
        <mat-card-content class="card-content">
            {{dieta.nombre}}
        </mat-card-content>
    </mat-card>
    }
</div>
}

@else{
    <div class="component-list">

        <div class="card-container-2">
            @for (dieta of dietas; track $index){
                <mat-card class="item" appearance="outlined" [ngStyle]="{'background-image': 'url(' + dieta.imagen + ')'}"
            (click)="seleccionarDieta(dieta.nombre)">
            <mat-card-content class="">
                {{dieta.nombre}}
            </mat-card-content>
        </mat-card>
    }
</div>
<div class="body">
    <div class="left-column">
        <app-filtrar-producto></app-filtrar-producto>
    </div>
    <div class="center-column">
        <mat-tab-group dynamicHeight class="tabs"  (selectedTabChange)="onTabChange($event)">
            @for(tipo of tipos; track $index){
                <mat-tab label="{{tipo}}">
                    <div class="container">
                        @for(producto of productos; track $index){
                            <div class="product">

                                <app-producto  [cardProduct]="producto"></app-producto>
                            </div>
                        }
                    </div>
                </mat-tab>
                }
            </mat-tab-group>
    </div>
        <div class="right-column">
            <app-lista-productos></app-lista-productos>
        </div>
    </div>
</div>
}