.search-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Cambia a flex-start para alinear el contenido a la izquierda */
  background-color: #5cca5c; /* Verde pálido */
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  width: 80vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;



}
.border {
  display: block;
  width: 80vw;
  height: 2px;
  background-color: #2e3c28; /* Color de la línea de separación */
  margin: 40px auto;
  border-radius: 10%;
}

.titulo {
  font-size: 2.5rem;
  margin: 0;
  text-align: left;
  word-wrap: break-word; 
}

.titulo-azul {
  color: #4682b4;
}

.titulo-amarillo {
  color: #ffd700;
}

.subtitulo {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: left;
  color: #666;
}

.search {
  margin-top: 20px;
  width: 90vw; /* 90% del ancho de la ventana */
  max-width: 100%; /* Asegura que no se corte en pantallas pequeñas */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; /* Espacio entre las tarjetas */ /* Separación de la search-box */
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.card {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Mantiene la proporción cuadrada */
  background-size: cover; /* Asegura que la imagen de fondo cubra toda la tarjeta */
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  z-index: 2;
}

.mat-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}
.component-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-container-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px; /* Limita el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.card-container-2 .item {
  width: 100%;
  height: 70px; /* Define la altura para que los items sean rectangulares */
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  color: rgb(248, 249, 227); /* Letra blanca */
  font-weight: bold; /* Letra en negrita *//* Sin bordes */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: none; /* Elimina la sombra de la tarjeta si es necesario */
}




.body {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr; /* Tres columnas */
  gap: 20px; /* Espacio entre las columnas */
  width: 100%;
  margin: 0 auto;
}

.left-column,
.center-column,
.right-column {
  padding: 20px;
}
@media (max-width: 600px) {
  .titulo {
    font-size: 2rem;
  }

  .subtitulo {
    font-size: 1.2rem;
  }

  .search {
    width: 90vw;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .titulo {
    font-size: 1.5rem; /* Ajuste adicional para pantallas muy pequeñas */
  }

  .subtitulo {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  .body {
    grid-template-columns: 1fr; /* Una columna en pantallas medianas */
  }

  .left-column,
  .right-column {
    display: none; /* Oculta las columnas laterales en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .body {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    gap: 10px;
  }

  .left-column,
  .right-column {
    display: none; /* Sigue ocultando las columnas laterales en pantallas pequeñas */
  }

  .center-column {
    padding: 10px; /* Reduce el padding en pantallas pequeñas */
  }
}
@media (max-width: 768px) {
  .card-container-2 .item {
    height: 120px; /* Reduce la altura en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .card-container-2 .item {
    height: 100px; /* Ajuste adicional para pantallas muy pequeñas */
  }
}

.center-column {
  padding: 20px;
  margin: 5px; /* Margen de 5px alrededor del contenido */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 15px; /* Espacio entre los elementos */
  padding: 10px;
}

.product {
  flex: 1 1 calc(20% - 8px); /* Permite que el elemento crezca y se encoja, ocupando un 20% del ancho */
  max-width: 300px; /* Limita el ancho máximo del elemento */
  min-width: 100px; /* Establece un ancho mínimo para evitar que el elemento se deforme */
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(5, 1fr); /* 4 elementos por fila en pantallas grandes */
  }
}

@media (max-width: 768px) {
  .product {
    height: 120px; /* Reduce la altura en pantallas más pequeñas */
  }
  .container {
    grid-template-columns: repeat(2, 1fr); /* 2 elementos por fila en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .product {
    height: 100px; /* Ajuste adicional para pantallas muy pequeñas */
  }
  .container {
    grid-template-columns: 1fr; /* 1 elemento por fila en pantallas pequeñas */
  }
}
