.preguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Espaciado general entre las preguntas y otros elementos */
    margin: 1rem; /* Margen general alrededor del contenedor */
  }
  
  .pregunta {
    display: flex;
    flex-direction: row; /* Elementos alineados en fila */
    align-items: center; /* Centra verticalmente la pregunta y el componente de valoración */
    justify-content: space-between; /* Distribuye el espacio entre la pregunta y las estrellas */
    gap: 1rem; /* Espacio entre la pregunta y el componente de valoración */
    margin: 1rem 0; /* Espaciado entre cada pregunta */
    padding: 1rem; /* Añade espaciado interno */
    border-bottom: 1px solid #e0e0e0; /* Línea separadora opcional */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 100%; /* Limita el ancho máximo */
  }
  
  .pregunta p {
    font-size: 1rem; /* Tamaño de fuente */
    text-align: left; /* Alinea el texto a la izquierda */
    word-wrap: break-word; /* Ajusta el texto si es muy largo */
    width: 70%; /* Ocupa el 70% del ancho para alinear las preguntas */
    margin: 0; /* Elimina márgenes extra */
  }
  
  app-valoracion {
    flex-grow: 1; /* Permite que el componente de valoración ocupe el espacio restante */
    display: flex;
    justify-content: flex-end; /* Alinea las estrellas a la derecha */
    align-items: center; /* Centra verticalmente las estrellas */
  }
  
  .comentario {
    width: 100%; /* Igual al ancho definido para las preguntas */
    margin: 2rem 0; /* Añade espaciado superior e inferior */
  }
  
  .comentario mat-form-field {
    width: 100%; /* Asegura que el mat-form-field ocupe todo el ancho disponible */
  }
  
  .botones {
    margin-top: 1rem; /* Espaciado superior para separar los botones del comentario */
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
  }
  
  .botones button {
    padding: 0.75rem 1.5rem; /* Espaciado interno del botón */
    font-size: 1rem; /* Tamaño de fuente */
    background-color: #f6af03; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: #e69c02; /* Color de fondo al pasar el cursor */
    }
  }
  