.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.dashboard-content {
  padding: 20px;
}

.stat-card {
  margin: 15px;
}

.charts-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
