<!-- Botón para cambiar a inglés -->
<button class="btn btn-outline-secondary mb-3" (click)="switchToEnglish()">Cambiar a Inglés</button>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reporte Diario</h5>
        <p class="card-text">Reporte de Órdenes de Compra, Clientes frecuentes y Compras frecuentes del día XX/XX/XXXX</p>
        <!-- Botón que llama al método de redirección -->
        <button class="btn btn-outline-info" (click)="goToOrden()">Ir a Reporte</button>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reporte Semanal</h5>
        <p class="card-text">Reporte de Órdenes de Compra, Clientes frecuentes y Compras frecuentes de la semana XX/XX/XXXX</p>
        <!-- Botón que llama al método de redirección -->
        <button class="btn btn-outline-info" (click)="goToOrden()">Ir a Reporte</button>
      </div>
    </div>
  </div>
</div>
