<!-- ventas-pago.component.html -->
<div class="top-right-buttons">
  <p>Filtro estado de pago </p>
  <button
    class="btn"
    [ngClass]="{ 'active-button': activeButton === 1 }"
    (click)="setActiveButton(1)"
  >
    Pendientes
  </button>
  <button
    class="btn"
    [ngClass]="{ 'active-button': activeButton === 2 }"
    (click)="setActiveButton(2)"
  >
    Completados
  </button>
</div>

<div class="ventas-pago-container">
  <div class="top-right-button">
    <button (click)="switchLanguage()" class="btn btn-secondary">{{ texts['switchToEnglish'] }}</button>
  </div>

  <p>{{ texts['pagosRealizados'] }}</p>
  <h1>{{ texts['pagosCompletados'] }}</h1>
  
  <div class="seccion">
    <p><strong>{{ texts['nombreCliente'] }}</strong> [Nombre del Cliente]</p>
    <p><strong>{{ texts['rutCliente'] }}</strong> [Rut del Cliente]</p>
    <p><strong>{{ texts['nombreEncargado'] }}</strong> [Nombre del Encargado]</p>
    <p><strong>{{ texts['rutEncargado'] }}</strong> [Rut del Encargado]</p>
    <p><strong>{{ texts['datosFactura'] }}</strong> [Datos de Factura]</p>
    <p><strong>{{ texts['fechaOrden'] }}</strong> [Fecha]</p>
  </div>
</div>
