<div class="top-right-buttons">
  <p>Filtro estado de pago </p>
  <button
    class="btn"
    [ngClass]="{ 'active-button': activeButton === 1 }"
    (click)="setActiveButton(1)"
  >
    Pendientes
  </button>
  <button
    class="btn"
    [ngClass]="{ 'active-button': activeButton === 2 }"
    (click)="setActiveButton(2)"
  >
    Completados
  </button>
</div>

<div class="ventas-pago">
  <h1>Detalles de Pago</h1>

  <div class="order-details" *ngFor="let order of filteredOrders">
    <!-- Botón para alternar la visibilidad de este cuadro -->
    <button class="pago" (click)="toggleVisibility(order)">
      Orden de compra N° {{ order.numeroOrden }}
    </button>

    <!-- Contenido controlado por order.isVisible -->
    <div *ngIf="order.isVisible">
      <p><strong>Username:</strong> {{ order.username }}</p>
      <p><strong>Email:</strong> {{ order.email }}</p>
      <p><strong>Número de Orden:</strong> {{ order.numeroOrden }}</p>
      <p><strong>ID orden: </strong></p>

      <div class="order-box">
        <h2>Detalles de la Orden</h2>
        <div class="cuotas-list">
          <h3>Cuotas</h3>
          <div class="cuotas-box">
            <table>
              <thead>
                <tr>
                  <th>Cuota</th>
                  <th>Estado</th>
                  <th>Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cuota of order.detallesCuotas.listaCuotas">
                  <td><strong>{{ cuota.numeroCuota }}</strong></td>
                  <td>{{ cuota.estado }}</td>
                  <td>{{ cuota.monto | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


