<body>
    <div class="container" id="theContent" #theContent>
        <div class="header">
            <div class="left-section">
                <h1>Guía de Despacho</h1>
                <table>
                    <tr>
                        <th>Cliente</th>
                        <td>{{ ordenDespacho.cliente.empresa.nombre_empresa }}</td>
                    </tr>
                    <tr>
                        <th>Rut</th>
                        <td>{{ ordenDespacho.cliente.empresa.rut_empresa }}</td>
                    </tr>
                    <tr>
                        <th>Dirección</th>
                        <td>{{ ordenDespacho.cliente.empresa.direccion }}</td>
                    </tr>
                    <tr>
                        <th>Teléfono</th>
                        <td>{{ ordenDespacho.cliente.contacto.telefono }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ ordenDespacho.cliente.contacto.email }}</td>
                    </tr>
                </table>
            </div>
            <div class="right-section">
                <table>
                    <tr>
                        <th>Factura N°</th>
                        <td>{{ ordenDespacho.numero }}</td>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td>{{ ordenDespacho.fechaRequerida | date }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>FoodCo</td>
                    </tr>
                    <tr>
                        <th>Rut</th>
                        <td>5678-4</td>
                    </tr>
                    <tr>
                        <th>Dirección</th>
                        <td>Calle 123, Santiago</td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div class="section">
            <h2>Detalles de los Productos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for(producto of ordenDespacho.seleccionProductos.productos; track $index){
                       <tr> 
                        <td>{{ producto.producto.nombre }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ producto.precioUnitario | currency:'CLP':'symbol':'1.0-0' }}</td>
                        <td>{{ producto.cantidad * producto.precioUnitario | currency:'CLP':'symbol':'1.0-0' }}</td>
                    </tr> 
                    }
                    
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Total</strong></td>
                        <td><strong>${{ordenDespacho.precioTotalOrden | currency:'CLP':'symbol':'1.0-0'}}</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Total Iva</strong></td>
                        <td><strong>${{ordenDespacho.precioFinalConIva | currency:'CLP':'symbol':'1.0-0'}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button mat-stroked-button (click)="desgargarGuia()">Descargar Guia</button> 
    </div>
  </body>