<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ isEdit ? 'Editar Turno' : 'Asignar Nuevo Turno' }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="turnoForm" (ngSubmit)="onSubmit()" class="form-container">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Seleccione un Empleado</mat-label>
        <mat-select formControlName="empleado_id" required>
          <mat-option *ngFor="let empleado of empleados" [value]="empleado._id">
            {{ empleado.nombre }} - {{ empleado.departamento?.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Hora de Inicio</mat-label>
        <input matInput type="time" formControlName="hora_inicio" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Hora de Fin</mat-label>
        <input matInput type="time" formControlName="hora_fin" />
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">
          {{ isEdit ? 'Guardar Cambios' : 'Asignar Turno' }}
        </button>
        <button mat-button color="warn" routerLink="/produccion/turnos-empleados">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
