<div class="filtros">

  <mat-accordion multi>    
    
    <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Filtros </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  
  <mat-expansion-panel [expanded]="0" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Tipo de alimentacion </mat-panel-title>
    </mat-expansion-panel-header>
    @for(filtro of filtros.tipoAlimentacion; track $index){
      <p><mat-checkbox [(ngModel)]="filtro.seleccion" >{{filtro.tipo}}</mat-checkbox></p>
    }
  </mat-expansion-panel>
  
  <mat-expansion-panel [expanded]="0" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Precio </mat-panel-title>
    </mat-expansion-panel-header>
    
    <div class="slider">
      <!-- Input para Precio Mínimo -->
      <mat-form-field appearance="outline" class="precio-min">
        <mat-label>Precio Minimo</mat-label>
        <input matInput type="number" [(ngModel)]="filtros.precio.min">
      </mat-form-field>
      
      <!-- Input para Precio Máximo -->
      <mat-form-field appearance="outline" class="precio-max">
        <mat-label>Precio Máximo</mat-label>
        <input matInput type="number" [(ngModel)]="filtros.precio.max">
      </mat-form-field>
    </div>
    
    <!-- Slider para Precio -->
    <mat-slider min="0" max="10000" class="precio-slider">
      <input matSliderStartThumb [(ngModel)]="filtros.precio.min">
      <input matSliderEndThumb [(ngModel)]="filtros.precio.max">
    </mat-slider>
  </mat-expansion-panel>
  
  <mat-expansion-panel [expanded]="0" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Servicio</mat-panel-title>
    </mat-expansion-panel-header>
    @for(filtro of filtros.servicios; track $index){
      <p><mat-checkbox [(ngModel)]="filtro.seleccion" >{{filtro.tipo}}</mat-checkbox></p>
    }
  </mat-expansion-panel>
  

  <mat-expansion-panel [expanded]="0" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Categorias </mat-panel-title>
    </mat-expansion-panel-header>
    @for(filtro of filtros.categorias; track $index){
      <p><mat-checkbox [(ngModel)]="filtro.seleccion">{{filtro.tipo}}</mat-checkbox></p>
    }
  </mat-expansion-panel>
  
  
  
  
</mat-accordion>
<div class="buttons">
  <button mat-flat-button (click)="applyFiltros()">Aplicar</button>
  <button mat-flat-button (click)="limpiarFiltros()">Reiniciar</button>
</div>

</div>