<div class="form-container">
    <h3>Recuperación de Contraseña</h3>
    <label>Ingrese su correo</label>
    <input [(ngModel)]="email" type="email" required placeholder="ejemplo@correo.com">
    <button (click)="recoveryPassword()" type="submit">Mandar Codigo</button>
</div>

<div class="form-container" *ngIf="codigoEnviado">
        <label for="nueva_contrasena">Nueva Contraseña:</label>
        <input [(ngModel)]="password" type="password" id="nueva_contrasena" name="nueva_contrasena" required placeholder="Introduce tu nueva contraseña">

        <label for="confirmar_contrasena">Confirma Nueva Contraseña:</label>
        <input [(ngModel)]="password2" type="password" id="confirmar_contrasena" name="confirmar_contrasena" required placeholder="Confirma tu nueva contraseña">

        <label for="codigo">Codigo:</label>
        <input [(ngModel)]="codigo" type="string" id="codigo" name="codigo" required placeholder="Introduce tu codigo">

        <input (click)="ResetPassword()" type="submit" value="Cambiar Contraseña">
</div>
