<div class="form-container">
    <h2>Recuperación de Contraseña</h2>
    <form action="/verificar" method="POST">
        <label for="email">Introduce tu correo electrónico:</label>
        <input type="email" id="email" name="email" required placeholder="ejemplo@correo.com">
        <input type="submit" value="Enviar">
    </form>
</div>
<div class="form-container">
    <form>
        <label for="codigo">Introduce el código de verificación:</label>
        <input type="text" id="codigo" name="codigo" required placeholder="Código de verificación">
        <input type="submit" value="Enviar">
    </form>
    <button (click)="change()">Cambiar Contraseña</button>
</div>