<div class="inicio-container">
  <h1>Bienvenido a FoodCo Ltda.</h1>
  <p>Esperamos que encuentre el menú que necesite</p>
  <p>¿Cómo desea ser atendido?</p>
  <div class="button-group">
    <button (click)="goToPersonal()">Ser atendido por un Ejecutivo</button>
    <button class="btn" (click)="goTomenus()">Ser atendido autonomamente</button>
  </div>
  <div class="top-right-button">
    <button (click)="switchToEnglish()" class="english-button">Switch to English</button>
  </div>
</div>
<p *ngIf="message">{{ message }}</p>
