<div class="frame">
  <div class="titulo">
    <h1>Deliciosa Comida para Empresas y Eventos.<br> Siempre Caliente y Fresca</h1>
    <p>El mejor servicio de catering para empresas y eventos. Estamos listos para cumplir tus deseos. La opción ideal para todas tus necesidades de comida saludable, en Chile y más allá.</p>
    <div class="buttons">
      <button class="ver-productos">Ver Menus</button>
      <button class="dato-contacto" mat-button routerLink="cliente/menus">
        Contacto ventas
      </button>
    </div>
  </div>
  <div class="imagenes">
    <img src="assets/images/dietas/omnivoro.webp" alt="Descripción de la imagen" class="imagen-1">
    <img src="assets/images/dietas/vegano.webp" alt="Descripción de la imagen" class="imagen-2">
    <img src="assets/images/dietas/vegetariano.webp" alt="Descripción de la imagen" class="imagen-3">   
    <img src="assets/images/dietas/sin_gluten.webp" alt="Descripción de la imagen" class="imagen-4">   
  </div>

  <div class="explicacion">
    <div class="texto">
      <h1>Cómo Funciona</h1>
      <p>Regístrate, elige tus menús y platos, selecciona la fecha de entrega, y nosotros nos encargamos del resto.<br> Disfruta de comida saludable y deliciosa, con opciones para todos los gustos: vegetariano, vegano, sin gluten y omnívoro.</p>
    </div>
    
    <div class="cuadrados">
    
        <div class="cuadrado">
            <div class="paso">1.</div>
            <h3>Regístrate</h3>
            <p>Crea tu cuenta fácilmente en nuestra página web.</p>
        </div> 
      
        <div class="cuadrado">
            <div class="paso">2.</div>
            <h3>Explora los Menús</h3>
            <p>Descubre nuestro catálogo con una variedad de platos de diferentes menús.</p>
        </div> 

        <div class="cuadrado">
            <div class="paso">3.</div>
            <h3>Selecciona tus Platos</h3>
            <p>Escoge los platos que deseas, ajustando las cantidades según tus necesidades.</p>
        </div> 

        <div class="cuadrado">
            <div class="paso">4.</div>
            <h3>Envía tu Pedido</h3>
            <p>Confirma tu pedido y nuestro equipo se pondrá en contacto para finalizar los detalles.</p>
        </div> 

        <div class="cuadrado">
            <div class="paso">5.</div>
            <h3>Recibe tu Pedido</h3>
            <p>Recibe tu pedido en la fecha que seleccionaste.</p>
        </div> 

    </div>

  </div>
  
  <div class="mejores-platos">
    <div class="cuadro-texto">
      <h1>Platos Exquisitos para Empresas, Eventos y Más</h1>
      <p>Comidas preparadas con ingredientes frescos, diseñadas para satisfacer tanto en la oficina como en eventos especiales.</p>
    </div>
    <div class="img-1">
      <span>Almuerzos para oficina</span>
      <img src="assets/images/comidas/almuerzo_empresa.webp">
    </div>
    <div class="img-2">
      <span>Eventos corporativos</span>
      <img src="assets/images/comidas/evento_corporativo.webp">
    </div>
    <div class="img-3">
      <span>Banquetes para grandes eventos</span>
      <img src="assets/images/comidas/banquete_eventos.webp">
    </div>
    <div class="img-4">
      <span>Comida para obras y mineras</span>
      <img src="assets/images/comidas/comida_mineros.webp">
    </div>
    <div class="img-5">
      <span>Fiestas y celebraciones</span>
      <img src="assets/images/comidas/tipos-eventos-catering.webp">
    </div>
  </div>
  


</div>
