<div class="frame">
  <div class="titulo">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
    <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
    <div class="buttons">
      
      <button class="ver-productos" (click)="irAMenu()">{{ 'HOME.BUTTONS.VIEW_MENUS' | translate }}</button>
      <button class="dato-contacto" mat-button (click)="irAContacto()" >
        {{ 'HOME.BUTTONS.CONTACT_SALES' | translate }}
      </button>
      <button class="ver-seguimiento" (click)="irASeguimiento()">{{ 'HOME.BUTTONS.TRACKING' | translate }}</button>

    </div>
  </div>
  <div class="imagenes">
    <img src="assets/images/dietas/omnivoro.webp" alt="Descripción de la imagen" class="imagen-1">
    <img src="assets/images/dietas/vegano.webp" alt="Descripción de la imagen" class="imagen-2">
    <img src="assets/images/dietas/vegetariano.webp" alt="Descripción de la imagen" class="imagen-3">
    <img src="assets/images/dietas/sin_gluten.webp" alt="Descripción de la imagen" class="imagen-4">
  </div>

  <div class="explicacion">
    <div class="texto">
      <h1>{{ 'HOME.HOW_IT_WORKS.TITLE' | translate }}</h1>
      <p>{{ 'HOME.HOW_IT_WORKS.DESCRIPTION' | translate }}</p>
    </div>

    <div class="cuadrados">
      <div class="cuadrado">
        <div class="paso">1.</div>
        <h3>{{ 'HOME.HOW_IT_WORKS.STEPS.1.TITLE' | translate }}</h3>
        <p>{{ 'HOME.HOW_IT_WORKS.STEPS.1.DESCRIPTION' | translate }}</p>
      </div>
      <div class="cuadrado">
        <div class="paso">2.</div>
        <h3>{{ 'HOME.HOW_IT_WORKS.STEPS.2.TITLE' | translate }}</h3>
        <p>{{ 'HOME.HOW_IT_WORKS.STEPS.2.DESCRIPTION' | translate }}</p>
      </div>
      <div class="cuadrado">
        <div class="paso">3.</div>
        <h3>{{ 'HOME.HOW_IT_WORKS.STEPS.3.TITLE' | translate }}</h3>
        <p>{{ 'HOME.HOW_IT_WORKS.STEPS.3.DESCRIPTION' | translate }}</p>
      </div>
      <div class="cuadrado">
        <div class="paso">4.</div>
        <h3>{{ 'HOME.HOW_IT_WORKS.STEPS.4.TITLE' | translate }}</h3>
        <p>{{ 'HOME.HOW_IT_WORKS.STEPS.4.DESCRIPTION' | translate }}</p>
      </div>
      <div class="cuadrado">
        <div class="paso">5.</div>
        <h3>{{ 'HOME.HOW_IT_WORKS.STEPS.5.TITLE' | translate }}</h3>
        <p>{{ 'HOME.HOW_IT_WORKS.STEPS.5.DESCRIPTION' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="mejores-platos">
    <div class="cuadro-texto">
      <h1>{{ 'HOME.BEST_DISHES.TITLE' | translate }}</h1>
      <p>{{ 'HOME.BEST_DISHES.DESCRIPTION' | translate }}</p>
    </div>
    <div class="img-1">
      <span>{{ 'HOME.BEST_DISHES.OPTIONS.1' | translate }}</span>
      <img src="assets/images/comidas/almuerzo_empresa.webp">
    </div>
    <div class="img-2">
      <span>{{ 'HOME.BEST_DISHES.OPTIONS.2' | translate }}</span>
      <img src="assets/images/comidas/evento_corporativo.webp">
    </div>
    <div class="img-3">
      <span>{{ 'HOME.BEST_DISHES.OPTIONS.3' | translate }}</span>
      <img src="assets/images/comidas/banquete_eventos.webp">
    </div>
    <div class="img-4">
      <span>{{ 'HOME.BEST_DISHES.OPTIONS.4' | translate }}</span>
      <img src="assets/images/comidas/comida_mineros.webp">
    </div>
    <div class="img-5">
      <span>{{ 'HOME.BEST_DISHES.OPTIONS.5' | translate }}</span>
      <img src="assets/images/comidas/tipos-eventos-catering.webp">
    </div>
  </div>
</div>
