<div class="frame">
  <div class="titulo">
    <h1>Deliciosa Comida para Empresas y Eventos.<br> Siempre Caliente y Fresca</h1>
    <p>El mejor servicio de catering para empresas y eventos. Estamos listos para cumplir tus deseos. La opción ideal para todas tus necesidades de comida saludable, en Chile y más allá.</p>
    <div class="buttons">
      <button class="ver-productos">Ver Menus</button>
      <button class="dato-contacto">Contacto ventas</button>
    </div>
  </div>
  <div class="imagenes">
    <img src="assets/images/dietas/omnivoro.webp" alt="Descripción de la imagen" class="imagen-1">
    <img src="assets/images/dietas/vegano.webp" alt="Descripción de la imagen" class="imagen-2">
    <img src="assets/images/dietas/vegetariano.webp" alt="Descripción de la imagen" class="imagen-3">   
    <img src="assets/images/dietas/sin_gluten.webp" alt="Descripción de la imagen" class="imagen-4">   
  </div>

  <div class="explicacion">
    <h1>Cómo Funciona</h1>
    <p>Es muy sencillo. Regístrate, elige tus menús y platos, y selecciona la fecha de entrega. Nosotros nos encargamos de preparar y entregar tu pedido, asegurándonos de que disfrutes de menús saludables, frescos y deliciosos. Tenemos opciones para todos: vegetariano, vegano, sin gluten y omnívoro.</p>
    
    <div class="cuadrados">
    
        <div class="cuadrado">
            <div class="paso">1.</div>
            <h3>Regístrate</h3>
            <p>Crea tu cuenta fácilmente en nuestra página web.</p>
        </div> 
      
        <div class="cuadrado">
            <div class="paso">2.</div>
            <h3>Explora los Menús</h3>
            <p>Descubre nuestro catálogo con una variedad de platos de diferentes menús.</p>
        </div> 

        <div class="cuadrado">
            <div class="paso">3.</div>
            <h3>Selecciona tus Platos</h3>
            <p>Escoge los platos que deseas, ajustando las cantidades según tus necesidades.</p>
        </div> 

        <div class="cuadrado">
            <div class="paso">4.</div>
            <h3>Envía tu Pedido</h3>
            <p>Confirma tu pedido y nuestro equipo se pondrá en contacto para finalizar los detalles.</p>
        </div> 

        <div class="cuadrado">
            <div class="paso">5.</div>
            <h3>Recibe tu Pedido</h3>
            <p>Recibe tu pedido en la fecha que seleccionaste.</p>
        </div> 

    </div>
</div>


</div>
