.pedidos-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.pedido-list {
  list-style: none;
  padding: 0;
}

.pedido-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.pedido-item:hover {
  transform: translateY(-3px);
}

.pedido-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pedido-numero {
  font-weight: bold;
  font-size: 1.2rem;
}

.pedido-estado {
  font-weight: bold;
}

.estado-pendiente {
  color: #FFA500; /* Naranja */
}

.estado-produccion {
  color: #0000FF; /* Azul */
}

.despachado {
  color: #008000; /* Verde */
}

.informacion-tabla {
  display: flex;
  flex-direction: row; /* Asegura que los elementos estén en línea horizontal */
  gap: 20px;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  width: 100%; /* Asegura que ocupe el ancho completo */
}

.informacion {
  flex: 1;
  margin-right: 20px; /* Añade espacio entre información y tabla */
}

.tabla {
  display: block; /* Permite que el contenedor controle la altura */
  max-height: 400px; /* Define la altura máxima de la tabla */
  overflow-y: auto; /* Activa la barra de desplazamiento vertical */
  overflow-x: auto; /* Activa la barra de desplazamiento horizontal si el contenido es muy ancho */
  border: 1px solid #ddd; /* Opcional: añade un borde alrededor de la tabla para visibilidad */
}

.table-content {
  width: 100%; /* Asegura que la tabla ocupe el 100% del ancho del contenedor */
  border-collapse: collapse;
}

.table-content th, .table-content td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 0.75rem; /* Tamaño de fuente específico para la tabla */
}

.table-content th {
  background-color: #f2f2f2;
  position: sticky; /* Fija el encabezado cuando se hace scroll */
  top: 0; /* Mantiene el encabezado en la parte superior */
  z-index: 1; /* Asegura que el encabezado esté sobre el contenido */
}

.botones {
  display: flex;
  justify-content: flex-end; /* Alinea el botón a la derecha */
  margin-top: 10px;
  padding-right: 2rem;
}

@media (max-width: 768px) {
  .informacion-tabla {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  }
}
