<div class="pedidos-container">
  <h2>Pedidos Actuales</h2>
  @if(pedidos.length > 0){
  <mat-accordion class="pedido-list">
    @for(pedido of pedidos; track pedido.numero){

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="pedido-info">
        <mat-panel-title> Pedido #{{pedido.numero}} </mat-panel-title>
        <mat-panel-description> {{pedido.estado}} </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Fecha de Creación: {{ pedido.fechaCreacion | date:'dd/MM/yyyy' }}</p>
      <p>Fecha Requerida: {{ pedido.fechaRequerida | date:'dd/MM/yyyy' }}</p>
      <p>Precio Total: {{ pedido.precioTotalOrden | currency:'CLP':'symbol':'1.0-0' }}</p>
    </mat-expansion-panel>
    }
  </mat-accordion>
  }
  @else{
  <p>No hay pedidos actuales en este momento.</p>
  }


</div>