<!-- layout.component.html -->
<mat-sidenav-container class="sidenav-container">
    <!-- Barra lateral (Sidebar) -->
    <mat-sidenav #drawer class="sidenav" mode="side" opened>
      <mat-toolbar>Menú</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a mat-list-item routerLink="/produccion-diaria" routerLinkActive="active">Gestión de Producción Diaria</a>
        <a mat-list-item routerLink="/tipos-producto" routerLinkActive="active">Gestión Tipo de Producto</a> 
        <a mat-list-item routerLink="/materias-primas" routerLinkActive="active">Gestión de Materias Primas</a>
        <a mat-list-item routerLink="/turnos-empleados" routerLinkActive="active">Gestión de Turnos de Empleados</a>
        <a mat-list-item routerLink="/reportes" routerLinkActive="active">Reportes y Análisis</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Contenido principal -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Dashboard</span>
      </mat-toolbar>
  
      <!-- Este router-outlet es donde se renderizan las vistas hijas -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  