/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-cell, .mat-header-cell {
    color: black !important;  /* Asegura que el texto sea negro */
    background-color: white !important;  /* Asegura que el fondo sea blanco */
  }
  
  .mat-row:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;  /* Agrega un ligero fondo al pasar el mouse */
  }
  