<div class="top-right-buttons">
  <h1>Filtro por fecha</h1>
  <button
    class="btn"
    [ngClass]="{ 'active-button': activeButton === 1 }"
    (click)="filtrarPorPeriodo('diario')"
  >
    Diario
  </button>
  <button
    class="btn"
    [ngClass]="{ 'active-button': activeButton === 2 }"
    (click)="filtrarPorPeriodo('semanal')"
  >
    Semanal
  </button>
  <button
    class="btn"
    [ngClass]="{ 'active-button': activeButton === 3 }"
    (click)="filtrarPorPeriodo('bisemanal')"
  >
    Bisemanal
  </button>
  <button
    class="btn"
    [ngClass]="{ 'active-button': activeButton === 4 }"
    (click)="filtrarPorPeriodo('mensual')"
  >
    Mensual
  </button>
  <button
    class="btn"
    [ngClass]="{ 'active-button': activeButton === 5 }"
    (click)="filtrarPorPeriodo('trimestral')"
  >
    Trimestral
  </button>
  <button
    class="btn"
    [ngClass]="{ 'active-button': activeButton === 6 }"
    (click)="filtrarPorPeriodo('semestral')"
  >
    Semestral
  </button>
</div>



<div class="top-right-button">
  <button class="btn btn-outline-primary" (click)="switchToEnglish()">Switch to English</button>
</div>

<div *ngIf="ordenes.length > 0" class="ordenes-list">
<div *ngFor="let orden of ordenes">
  <h1>Orden de compra N° {{orden._id}}</h1>

  <div class="seccion">
    <p *ngIf="orden.cliente">
      <strong>Nombre cliente:</strong> {{orden.cliente.username}} {{orden.cliente.contacto.apellido}}
    </p>
    
  
    <p *ngIf="orden.cliente?.empresa">
      <strong>Datos de factura:</strong> Nombre: {{orden.cliente.empresa.nombre_empresa}} |
      Direccion: {{orden.cliente.empresa.direccion}} |
      Giro: {{orden.cliente.empresa.giro}} |
      Rut: {{orden.cliente.empresa.rut_empresa}} |
      Fono: {{orden.cliente.empresa.telefono_empresa}} |
      Correo: {{orden.cliente.empresa.correo_contacto}}
    </p>
    <p *ngIf="orden.seleccionProductos?.fechaCreacion"><strong>Fecha de orden:</strong> {{orden.seleccionProductos.fechaCreacion}}</p>
  </div>
  

  <h3>Productos:</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Precio</th>
        <th>Descuento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of orden.seleccionProductos.productos; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ producto.producto.nombre }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>${{ producto.precioUnitario }}</td>
        <td>${{ producto.precioTotal }}</td>
        <td>${{ producto.descuento }}</td>
      </tr>
    </tbody>
  </table>

  <div class="resumen">
    <p><strong>IVA:</strong> {{orden.iva}}</p>
    <p class="precio-final"><strong>Precio final:</strong> {{orden.precioFinalConIva}}</p>
  </div>

  <div class="seccion">
    <p><strong>Lugar de entrega:</strong> {{orden.seleccionProductos.direccion}}</p>
    <p><strong>Fecha de entrega:</strong> {{orden.seleccionProductos.fechaRequerida}}</p>
  </div>
</div>
</div>

<!-- En caso de que no haya órdenes cargadas -->
<div *ngIf="ordenes.length === 0">
<p>No se ha encontrado ninguna orden.</p>
</div>
