<div *ngIf="ordenDespacho">
  <h2>Estados del Envío #{{ ordenDespacho.numero }}</h2>

  <!-- Progreso de Estados del Despacho -->
  <div class="estado-container">
    <!-- Estado 1: Creación de la Orden -->
    <div class="estado" [ngClass]="{'completado': ordenDespacho.estado !== 'pendiente'}">
      <div class="icono-estado">
        <mat-icon>assignment</mat-icon>
      </div>
      <p>Orden Creada</p>
    </div>

    <!-- Estado 2: Preparación de Paquete -->
    <div class="estado" [ngClass]="{'completado': ordenDespacho.estado === 'listo_para_despachar' || ordenDespacho.estado === 'despachado' || ordenDespacho.estado === 'entregado' || ordenDespacho.estado === 'completado'}">
      <div class="icono-estado">
        <mat-icon>inventory_2</mat-icon>
      </div>
      <p>Paquete Preparado</p>
    </div>

    <!-- Estado 3: En Camino -->
    <div class="estado" [ngClass]="{'completado': ordenDespacho.estado === 'despachado' || ordenDespacho.estado === 'entregado' || ordenDespacho.estado === 'completado'}">
      <div class="icono-estado">
        <mat-icon>local_shipping</mat-icon>
      </div>
      <p>En Camino</p>
    </div>

    <!-- Estado 4: Entregado -->
    <div class="estado" [ngClass]="{'completado': ordenDespacho.estado === 'entregado' || ordenDespacho.estado === 'completado'}">
      <div class="icono-estado">
        <mat-icon>home</mat-icon>
      </div>
      <p>Entregado</p>
    </div>
  </div>

  <!-- Información de Asignación del Camión -->
  <label>Aqui gps para el empleado de ventas</label>
