.catalogo {
    display: flex; /* Activa Flexbox */
    flex-direction: row; /* Dispone las secciones en una fila */
    height: 100vh; /* Usa toda la altura de la pantalla */
    width: 100%; /* Usa todo el ancho de la pantalla */
    overflow: hidden; /* Evita desbordes */
    margin-bottom: 2rem;
  }
  
  /* Columna izquierda (30% del ancho) */
  .catalogo .izquierda {
    flex: 0 0 20%; /* Fija el ancho en 30% */
    background-color: #f4f4f4; /* Cambia el color de fondo si es necesario */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    box-shadow: inset -1px 0 0 #e0e0e0; /* Línea divisoria opcional */
    overflow-y: auto;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-left: 1.5rem;    
    padding-right: 1rem;
    
  }
  
  /* Columna derecha (70% del ancho) */
  .catalogo .derecha {
    flex: 1; /* Ocupa el resto del espacio (70%) */
    display: flex;
    flex-direction: column; /* Organiza contenido en columna */
    background-color: #ffffff; /* Cambia el color de fondo si es necesario */
    padding: 1rem; /* Espaciado interno */
    overflow-y: auto; /* Permite scroll si el contenido es más grande que la pantalla */
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .catalogo {
      flex-direction: column; /* Cambia a diseño en columna */
    }
  
    .catalogo .izquierda,
    .catalogo .derecha {
      flex: none; /* Elimina la proporción fija */
      width: 100%; /* Ocupa el 100% del ancho */
      height: 50%; /* Ocupa el 50% de la altura en diseño vertical */
    }
  }
  