<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Tipos de Producto</mat-card-title>
    <button mat-raised-button color="primary" routerLink="/tipos-producto/nuevo">Agregar Tipo de Producto</button>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let tipo"> {{tipo.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>      
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let tipo">
          <button mat-icon-button color="primary" [routerLink]="['/tipos-producto/editar', tipo.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTipoProducto(tipo.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
