@if(!isLoading){
  
  <div class="page">
    
    <div class="navbar">
      
      <!-- @switch (rol) Estructura de selección de rol -->
      @switch (rol) {
        @case ('Cliente') {
          <app-nav-bar-cliente></app-nav-bar-cliente>
        }
        @case ('Ejecutivo de Ventas') {
          <app-navbar-ventas ></app-navbar-ventas>
        }
        @case ('Desarrollador') {
          <app-navbar-despacho></app-navbar-despacho>
        }
      }
      
    </div>
    
    
    <div class="contenido">   
      
      <router-outlet></router-outlet>
    </div>
    
    
    
  </div>  
}
@else{
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }