.dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Usar 100vh para ocupar toda la altura de la pantalla */
  }
  
  .nav-bar {
    width: 35vh;
    background-color: white;
    flex-shrink: 0; /* Evita que el nav-bar se reduzca */
  }
  
  @media (max-width: 1260px) {
    .nav-bar {
      width: 30vh;
    }
  }
  
  @media (max-width: 380px) {
    .nav-bar {
      width: 30vh;
    }
  }
  
  .contenido {
    flex: 1; /* Hace que el contenido ocupe el resto del espacio disponible */
    background-color: #F0F4F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  mat-icon {
    background-color: #F0F4F7 !important;
    box-shadow: none;
    border: none;
  }
  
  .spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  