.dashboard {
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.nav-bar {
  width: 35vh;
  background-color: white;
  flex-shrink: 0; /* Evita que el nav-bar se reduzca */
}

@media (max-width: 1260px) {
  .nav-bar {
    width: 30vh;
  }
}

@media (max-width: 380px) {
  .nav-bar {
    width: 30vh;
  }
}

.contenido {
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que ocupe toda la altura disponible */
  background-color: #F0F4F7;
  padding: 1rem;
  overflow-y: auto; /* Permite desplazamiento si el contenido excede la altura */
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

mat-icon {
  background-color: #F0F4F7 !important;
  box-shadow: none;
  border: none;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
