<div class="mostrarorden-container-en">
  <!-- Botón para cambiar a español -->
  <button class="switch-button" (click)="switchToSpanish()">Cambiar a Español</button>

  <!-- Fila de reportes Diario y Semanal -->
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Daily Report</h5>
          <p class="card-text">Report of Purchase Orders, Frequent Customers, and Frequent Purchases on XX/XX/XXXX</p>
          <button class="btn btn-outline-info" (click)="goToOrden()">Go to Report</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Weekly Report</h5>
          <p class="card-text">Report of Purchase Orders, Frequent Customers, and Frequent Purchases for the week XX/XX/XXXX</p>
          <button class="btn btn-outline-info" (click)="goToOrden()">Go to Report</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Fila de reportes Bisemanal y Mensual -->
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Biweekly Report</h5>
          <p class="card-text">Purchase Orders Report, Frequent Customers, and Frequent Purchases for the weeks between XX/XX/XXXX and XX/XX/XXXX</p>
          <button class="btn btn-outline-info" (click)="goToOrden()">Go to Report</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Monthly Report</h5>
          <p class="card-text">Purchase Orders Report, Frequent Customers, and Frequent Purchases for the month of XX/XXXX</p>
          <button class="btn btn-outline-info" (click)="goToOrden()">Go to Report</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Fila de reportes Trimestral y Semestral -->
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Quarterly Report</h5>
          <p class="card-text">Purchase Orders Report, Frequent Customers, and Frequent Purchases between the months XX/XXXX and XX/XXXX</p>
          <button class="btn btn-outline-info" (click)="goToOrden()">Go to Report</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Semiannual Report</h5>
          <p class="card-text">Purchase Orders Report, Frequent Customers, and Frequent Purchases between the months XX/XXXX and XX/XXXX</p>
          <button class="btn btn-outline-info" (click)="goToOrden()">Go to Report</button>
        </div>
      </div>
    </div>
  </div>
</div>
