.mostrarorden-container-en {
    margin: 20px;
    position: relative;
    padding-top: 60px; /* Añadir espacio superior para evitar la superposición */
  }
  
  .switch-button {
    position: absolute;
    top: -20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #1b79f5b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
  }
  
  .switch-button:hover {
    background-color: #b39e00;
  }
  