/* Copia el contenido de inicio.component.css aquí si los estilos son los mismos */
.inicio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #00ff40b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b39e00;
}
