.eje-inicio-en-container {
  position: relative;
  padding-top: 60px; /* Añadir espacio para evitar superposición del botón con las tarjetas */
}

.top-right-button {
  position: absolute;
  top: 5px; /* Ajustado para alinear correctamente el botón */
  right: 20px;
}

.top-right-button button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1b79f5b0; /* Mismo color que en los otros componentes */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-right-button button:hover {
  background-color: #b39e00; /* Mismo color de hover */
}

.card {
  margin-bottom: 20px; /* Espacio entre tarjetas */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card .btn-primary {
  background-color: #1b79f5b0; /* Mismo color de los botones */
  border: none;
}

.card .btn-primary:hover {
  background-color: #b39e00; /* Comportamiento hover */
}
