.eje-inicio-en-container {
  position: relative;
  padding-top: 60px; /* Añadir espacio para evitar la superposición del botón con las tarjetas */
}

.top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card {
  margin-bottom: 20px; /* Añadir espacio entre las tarjetas para que no estén tan juntas */
}
