<div class="eje-inicio-en-container">
  <div class="top-right-button">
    <button (click)="toggleLanguage()" class="btn btn-primary">Switch to Spanish</button>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="https://png.pngtree.com/png-clipart/20230922/original/pngtree-user-group-icon-vector-image-background-diversity-business-vector-png-image_12658655.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Personal</h5>
          <p class="card-text">View data of personnel and their associated orders</p>
          <a href="/ejecutivo/personal-en" class="btn btn-primary">Go to</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="https://static.vecteezy.com/system/resources/previews/010/752/258/non_2x/payment-icon-design-free-vector.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Payments</h5>
          <p class="card-text">Payments made at 100%</p>
          <a href="#" class="btn btn-primary">Go to</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="https://cdn-icons-png.freepik.com/512/9402/9402058.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Purchase Orders</h5>
          <p class="card-text">Summary of purchase orders filtered by age</p>
          <a href="/mostrarorden-en" class="btn btn-primary">Go to</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="https://static.vecteezy.com/system/resources/previews/015/376/998/non_2x/sign-money-contract-icon-outline-style-vector.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Active Subcontracts</h5>
          <p class="card-text">Active subcontracts with external companies for order support</p>
          <a href="/mostrarorden" class="btn btn-primary">Go to</a>
        </div>
      </div>
    </div>
  </div>
</div>
